In [1]:
import json
import pandas as pd

In [30]:
  # Cargar el JSON
with open('../src/horarios_dc_20250727_020723.json', 'r', encoding='utf-8') as f:
  data = json.load(f)


# Crear DataFrame con la lista de horarios
df = pd.json_normalize(data['horarios'])

In [31]:
df.loc[0:3,['nombre','nombre_original','tipo_carrera','docentes',]]

,nombre,nombre_original,tipo_carrera,docentes
0,Álgebra Lineal Computacional,Álgebra Lineal Computacional/Métodos Numéricos TM,LCC23/LCD/LCC93,"[{'nombre': 'SALGADO', 'rol': 'profesor'}, {'n..."
1,Álgebra Lineal Computacional,Álgebra Lineal Computacional/Métodos Numéricos TN,LCC23/LCD/LCC93,[]
2,Algoritmos y Estructuras de Datos,Algoritmos y Estructuras de Datos/AEDII TM1,LCC23/LCD/LCC93,"[{'nombre': 'AN, Victor', 'rol': 'profesor'}, ..."
3,Algoritmos y Estructuras de Datos,Algoritmos y Estructuras de Datos/AEDII – TM2,LCC23/LCD/LCC93,[]

In [29]:
df.head()

,horarios,metadata.departamento,metadata.fecha_extraccion,metadata.total_materias,metadata.fuente,metadata.version_scraper,estadisticas.materias_procesadas,estadisticas.horarios_extraidos,estadisticas.errores_parsing,estadisticas.materias_encontradas,estadisticas.errores
0,[{'id': 'dc_horarios_lgebra_lineal_computacion...,DC,2025-07-27T02:07:23.746408,46,https://www.dc.uba.ar/,1.0,46,0,0,"[Álgebra Lineal Computacional, Álgebra Lineal ...",[]

In [ ]:
# Normalizar completamente incluyendo docentes
df_completo = pd.json_normalize(
    data['horarios'],
    record_path=['docentes'],
    meta=['id', 'nombre', 'nombre_original', 'tipo_carrera'],
    meta_prefix='materia_',
    errors='ignore'
)

In [7]:
df_completo.head()

,nombre,rol,materia_id,materia_nombre,materia_nombre_original,materia_tipo_carrera
0,SALGADO,profesor,dc_horarios_lgebra_lineal_computacional_1c_202...,Álgebra Lineal Computacional,Álgebra Lineal Computacional/Métodos Numéricos TM,LCC23/LCD/LCC93
1,"DO, Ariel",profesor,dc_horarios_lgebra_lineal_computacional_1c_202...,Álgebra Lineal Computacional,Álgebra Lineal Computacional/Métodos Numéricos TM,LCC23/LCD/LCC93
2,"RI, Pablo",profesor,dc_horarios_lgebra_lineal_computacional_1c_202...,Álgebra Lineal Computacional,Álgebra Lineal Computacional/Métodos Numéricos TM,LCC23/LCD/LCC93
3,"DO, Daniel",profesor,dc_horarios_lgebra_lineal_computacional_1c_202...,Álgebra Lineal Computacional,Álgebra Lineal Computacional/Métodos Numéricos TM,LCC23/LCD/LCC93
4,"AN, Victor",profesor,dc_horarios_algoritmos_y_estructuras_de_datos_...,Algoritmos y Estructuras de Datos,Algoritmos y Estructuras de Datos/AEDII TM1,LCC23/LCD/LCC93